.main-theme-navbar{
    background-color: var(--clr-secondary);
    color: black;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.navbar-item-ul, .navbar-auth-ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.navbar-item-ul, .navbar-auth-ul li{
    cursor: pointer;
}
.navbar-auth-ul{
    gap: 0.5rem;
}
