:root{
  --clr-primary:#0096c7;
  --clr-secondary:#f1faee;
  --clr-warning:#e63946;
  --clr-success:#52b788;
}

.bg-primary{
  background-color: var(--clr-primary);
}
.bg-secondary{
  background-color: var(--clr-secondary);
}
.bg-warning{
  background-color: var(--clr-warning);
}
.bg-success{
  background-color: var(--clr-success);
}
.hover-primary{
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  transition: background-color 200ms ease-in-out;
}
.hover-secondary{
  background-color: var(--clr-secondary);
}
.hover-warning{
  background-color: var(--clr-warning);
}
.hover-success{
  background-color: var(--clr-success);
}
.hover-primary:hover{
  background-color: var(--clr-secondary);
  color: black;
}
.hover-secondary:hover{
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
.hover-warning :hover{
  background-color: #e63946;
}
.hover-success:hover{
  background-color: #52b788;
}
.border-sharp{
  border-radius: 0.5rem;
}
.border-medium{
  border-radius: 0.7rem;
}
.border-round{
  border-radius: 2rem;
}
.text-wrong{
  background-color: var(--clr-warning);
}