.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal-article{
    background-color: var(--clr-success);
    min-height: 20rem;
    min-width: 20em;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
